@import '../../sass/mixins.scss';


b {
    font-weight: 500;
}
.chat {
    display: grid;
    grid-template-areas: 
        'header'
        'avatar'
        'messages'
        'input';
    grid-template-rows: 30px auto 1fr 50px;

    animation: 1s ease-in-out 0s;

    height: 98vh;
    border: 1px solid black;
    border-radius: 10px;



    &__input {
        width: 100%;
        display:flex;

        @include for-phone-only {
            height: 50px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            height: inherit;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5rem;
            padding: 10px;
        }
        button {
            width: 200px;
        }
    }

    .avatar--main {
        width: 175px;
    }
}

.chat__highlight--react {
    color: #60DAFB;
}


.chat__highlight--next {
    color: #333;
}
.chat__highlight--graphql {
    color: #E10098
}