
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Zilla+Slab:wght@300&display=swap');

@import '../../sass/mixins.scss';

body {

    @include for-tablet-landscape-up {
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }
    @include for-desktop-up {
        margin-top: 7%;
        margin-left: 25%;
        margin-right: 25%;
    }
    @include for-big-desktop-up {
        margin-top: 4%;
    }
}
* {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5 {
    font-family: 'Space Grotesk', sans-serif;
}
