
.navbar {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;
    z-index: 9999;
    width: 75%;
    
    li {
        list-style: none;
        width: max-content;
        font-size: 2rem;
    }

    a {
        color: black;
    }
    a.selected {
        font-weight: bold;

        &::before {
            content:url('../../images/pixelbeanie.png');
            position: fixed;
            top: 20px;

        }
    }
}